 <!-- About Section -->
    <section class="success" id="loved-ones">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Looking For Loved Ones?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
             <div class="row-same-height">
                <div class="col-lg-12 text-center">
                    <p class="lead">Call this number if a friend or family member is/may have been arrested for protesting:</p>
                    <h1><a href="tel:12165050654">(216) 505-0654</a></h1>
                    <h3><em>(216) 5050-<abbr title="National Lawyers Guild">NLG</abbr></em></h3>

                </div>
                <div class="col-lg-6">
                    <p>The number above is for the <strong>Ohio Chapter of the National Lawyers Guild</strong>, and they are doing everything they can to help the person you are looking for. NLG and Cleveland Action volunteers are staffing the jail support line and will help you locate your friend or family member, as well as help ensure they receive a supportive and welcoming release.</p>
                    <a target="_new" href="https://www.facebook.com/ohionlg/"> <img alt="NLG Ohio Chapter Logo - the silouhette of the state of ohio, with the NLG logo inside." src="{{site.baseurl}}/img/OHNLG_Logo.gif"/>
                    <a target="_new" href="https://facebook.com/clevelandaction"> <img alt="Logo for Cleveland Action" width="100%" src="{{site.baseurl}}/img/CLEVELAND_ACTION_LOGO.jpg"/></a>
                </div>
                <div class="col-lg-6">
                    <h3>Do I have to call the <abbr title="National Lawyers Guild">NLG</abbr>?</h3>
                    <p>Calling this number may be crucial as you may have information that can lead to a faster release. They can also help you locate your friend or family member and make sure that they are O.K.</p>
                    <h3>Should I tell people about my friend/family member possibly being arrested?</h3>
                    <p>Please use discretion here - making it publicly known by posting on twitter or facebook could cause employers, educators, etc to learn about their involvement in demonstrations and use this information against them.</p> <p><strong>IMPORTANT!</strong> Do not share information about what led to their arrest if you witnessed it or learned about it from them. This information is best shared discreetly with their lawyer.</p>
                    <h3>What should I tell the <abbr title="National Lawyers Guild">NLG</abbr>?</h3>
                    <p>A professional will answer your call and help walk you through the questions that can help with their release. Again, if you know any details of what happened leading up to the arrest, please refrain from sharing this with the person on the line as this should only be shared with a lawyer in private.</p>
                </div>
                </div>
            </div>
        </div>
    </section>
