<section id="know-your-rights">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-offset-2 text-center">
                <h2>Know Your Rights 'Fast Facts'</h2>
                <hr class="star-primary">
                <p>The Ohio Chapter of the National Lawyers Guild (Ohio NLG) aims to provide a general description of legal and practical issues that activists might face. Be aware that each person’s circumstances are unique, and minor factual differences may result in very different outcomes. For answers to specific legal questions, consult a qualified attorney.</p>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <h3>What if a police officer asks me a question? </h3>
            <ul>
                <li>You are <em><strong>never obligated</strong></em> to answer any questions.</li>
                <li>However, Ohio law requires you to identify yourself if:
                    <ul>
                        <li>
                            (1) You are suspected of a crime; or
                        </li>
                        <li>
                            (2) You are a witness to a felony.
                        </li>
                    </ul>
                </li>
                <li><em><strong>Loudly &amp; clearly</strong></em> ask, “Am I legally required to identify myself?”</li>
                <li>If the answer is yes, ONLY then are you obligated provide:
                    <ul>
                        <li>Legal name, Date of Birth, and Address</li>
                        <li>If you refuse to identify yourself in those situations, you <u>can</u> be arrested.</li>
                    </ul>
                </li>
                <li>You are <strong>not</strong> required to give a statement about anything that you witnessed or are suspected of.</li>
            </ul>
            <h3>What if I am stopped by law enforcement?</h3>
            <ul>
                <li>Stay calm and ask if you are being detained.</li>
                <li>If the answer is <u>no</u>, you are free to leave.</li>
                <li>If the answer is <u>yes</u>, you must stay but <em><strong>are not</strong></em> obligated to answer any questions.</li>
                <li>
                    <em><strong>Loudly &amp; clearly</strong></em> state, "I am going to remain silent" and then <u>remain silent</u> - even if officers continue to speak to you.
                    <ul>
                        <li>Be aware that law enforcement can lie to you to coerce you into speaking.</li>
                    </ul>
                </li>
            </ul>
            <h3>What if a police officer asks to search my belongings?</h3>
            <ul>
                <li>You are <em><strong>not</strong></em> obligated to consent to a search.
                    <ul>
                        <li><em><strong>Loudly &amp; clearly</strong></em> state, "I do not consent to a search."
                        </li>
                    </ul>
                </li>
                <li>
                    However:
                </li>
                <li>If the officer has a search warrant or probable cause to conduct the search, they <strong>do not</strong> need to ask your permission.
                </li>
                <li>If you are being detained, officers may conduct a brief over-the-clothes pat down to check for weapons.</li>
            </ul>
            <h3>First Amendment Issues:</h3>
            <ul>
                <li>
                    Streets, sidewalks, and parks are generally considered public forums for free speech activity and generally <u>do not require</u> a permit.
                </li>
                <li>
                    However, protests that block traffic or involve amplified sound <u>often require</u> a permit.
                </li>
            </ul>
            </div>
        </div>
    </div>
</section>
